@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green-1);
  font-size: 2rem;
  margin-bottom: 20px;
}

.login_title svg {
  font-size: 4rem;
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container {
  flex-grow: 1;
  padding: 10px;
}

.navbar,
.sidebar {
  background-image: linear-gradient(90deg, var(--green-0), var(--green-1));
  display: flex;
  color: white;
  position: relative;
}

.sidebar {
  flex-direction: column;
  flex-grow: 1;
}

.sidebar hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  margin-top: 0;
  margin-bottom: 5px;
}

.title {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  margin-right: 20px;
  cursor: pointer;
}

.title svg {
  font-size: 2rem;
  margin-right: 10px;
}

.sidebar .title {
  justify-content: center;
  padding: 10px;
}

.navbar_elements {
  display: flex;
}

.navbar_link,
.navbar_link_active,
.sidebar_link,
.sidebar_link_active {
  color: inherit;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.sidebar_link,
.sidebar_link_active {
  padding: 15px;
  font-size: 1.2rem;
}

.navbar_link:hover,
.navbar_link_active,
.navbar_end_item:hover,
.sidebar_link:hover,
.sidebar_link_active,
.sidebar_end_item:hover {
  background-color: var(--green-2);
}

.navbar_end,
.sidebar_end {
  display: flex;
  flex-grow: 1;
  justify-content: right;
}

.sidebar_end {
  align-items: flex-end;
}

.navbar_end_item,
.sidebar_end_item {
  display: inline-flex;
  align-items: center;
  justify-content: right;
  padding: 0 10px;
  cursor: pointer;
}

.sidebar_end_item {
  padding: 20px;
}

.navbar_end_item svg {
  font-size: 2rem;
}

.sidebar_end_item svg {
  font-size: 2.5rem;
}

.navbar_menu_button {
  display: none;
}

.page_title {
  text-align: center;
}

.page_title h1 {
  font-weight: normal;
}

.container hr {
  border: none;
  border-bottom: 1px solid var(--gray-0);
}

.page_content {
  max-width: 1400px;
  margin: auto;
}

.delete_button {
  cursor: pointer;
  color: var(--gray-0);
}

.delete_button:hover {
  cursor: pointer;
  color: var(--red-0);
}

.dashboard_averages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.dashboard_average {
  display: flex;
  flex-direction: column;
  line-height: normal;
}

.dashboard_average_primary {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.dashboard_average_primary svg {
  font-size: 4rem;
  margin: 0 10px;
}

.dashboard_average_secondary {
  color: var(--gray-1);
}

.dashboard_charts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard_chart {
  display: flex;
  flex-direction: column;
  height: 340px;
  margin-top: 100px;
}

.dashboard_chart_body {
  margin-top: 10px;
  display: flex;
  height: 100%;
}

.card {
  border-radius: 10px;
  /* overflow: hidden; */
  /* display: inline-block; */
  /* box-shadow: 0px 0px 10px 2px #f9f9f9; */
  border: 1px solid var(--gray-0);
  margin: 0 10px 10px 0;
  padding: 10px;
  min-width: 670px;
  /* float: left; */
  transition: all 0.3s;
}

.card_footer {
  text-align: left;
}

.table_container {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.table_no_items {
  margin: 15px 0 20px 20px;
}

.card h3 {
  padding: 10px 0;
}

.row {
  /* background-color: rgb(247, 247, 247); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 2px 2px 5px 0 #d3d3d3; */
  border: 1px solid var(--gray-0);
  margin: 10px 0;
  border-radius: 10px;
  padding: 5px 5px;
  cursor: pointer;
}

.element_title {
  width: 40%;
}

.element_value {
  text-align: right;
  width: 40%;
}

.row:hover,
.saving:hover {
  background-color: var(--gray-2);
}

.row p {
  display: inline;
}

.month_dialog {
  width: 500px;
}

.savings_container {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.saving {
  display: inline-flex;
  flex-direction: column;
  /* box-shadow: 2px 2px 5px 0 #d3d3d3; */
  border: 1px solid var(--gray-0);
  border-radius: 10px;
  margin: 10px;
  padding: 5px 5px;
  cursor: pointer;
  min-width: 400px;
  /* width: auto; */
  /* flex-grow: 1; */
}

.saving_title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-0);
}

.saving_title h2 {
  font-weight: normal;
  margin-left: 5px;
}

.progress_container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 95%;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 30px auto;
}

.progress_bar {
  min-width: 50px;
  max-width: 100%;
  background-color: var(--green-3);
  text-align: center;
  color: white;
}

.saving_primary {
  margin-top: 20px;
  text-align: center;
}

.saving_secondary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 10px auto;
  width: 95%;
}

.saving_secondary_element {
  text-align: center;
  width: 50%;
  margin-bottom: 10px;
}

.saving_secondary_element p {
  font-weight: bold;
}

.saving_actual {
  font-size: 1.8rem;
  font-weight: bold;
}

.saving_goal {
  font-size: 1.2rem;
}

.saving_comment {
  text-align: center;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  width: 95%;
  margin: auto;
}

.confirmation_dialog {
  display: flex;
  align-items: center;
  width: 400px;
}

.column_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
  /* justify-content: space-evenly; */
}

.column {
  display: flex;
  flex-direction: column;
}

.button_row {
  display: flex;
  margin-top: 10px;
}

.button_row_right {
  flex-grow: 1;
  text-align: right;
}

.month_properties {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  margin-top: 10px;
  width: 100%;
}

#measure {
  margin-top: 10px;
  width: 100%;
}

.month_properties_text {
  font-weight: bold;
}

.month_properties_comment {
  margin-top: 10px;
}

.month_properties_comment p {
  font-weight: bold;
}

.month_summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}

.month_summary h3 {
  padding: 10px 0;
}

.month_summary_rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.month_summary_chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.month_summary_row_primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.month_summary_row_secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-evenly; */
}

.month_summary_element {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.month_summary_primary_amount {
  font-size: 2rem;
  font-weight: bold;
}

.month_summary_secondary_amount {
  font-size: 1.1rem;
  font-weight: bold;
}

.month_summary_secondary_text {
  font-size: 0.8rem;
}

.month_summary_icon {
  background-color: var(--green-3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.month_summary_icon svg {
  font-size: 2rem;
}

.month_summary_not_found {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.icon_container,
.icon_container_small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
}

.icon_container_small {
  width: 35px;
  height: 35px;
}

.dialog_select_category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dialog_select_category_button {
  display: inline-flex;
  justify-content: center;
}

.dialog_selected_category {
  display: inline-flex;
  align-items: center;
}

.dialog_selected_category .icon_container {
  margin-right: 10px;
}

.expenses_table td:first-child {
  text-align: right;
  width: 40px;
}

.expenses_table td:nth-child(2),
.expenses_table th:nth-child(2) {
  text-align: left;
}

.averages_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-0);
  padding-bottom: 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.averages_sort {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.averages_body {
  text-align: center;
}

.average {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  padding: 0 20px 0 10px;
  /* margin: 0 10px 10px 0; */
  margin: 15px;
}

.average_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 20px;
}

.average_icon svg {
  font-size: 2rem;
}

.average_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.average_primary {
  font-size: 1.8rem;
}

.average_secondary {
  padding-right: 10px;
}

@media (max-width: 1000px) {
  .login {
    justify-content: flex-start;
    padding-top: 40px;
  }

  .navbar_end_item {
    display: none;
  }

  .navbar_menu_button {
    display: inline-flex;
  }

  .navbar_elements {
    display: none;
  }

  .dashboard_averages {
    flex-direction: column;
    align-items: center;
  }

  .dashboard_average {
    margin-bottom: 40px;
  }

  .dashboard_charts {
    justify-content: center;
  }

  .dashboard_chart {
    height: 200px;
  }

  .column {
    width: 100%;
  }

  .card {
    min-width: auto;
  }

  .month_dialog {
    width: auto;
  }

  .averages_head {
    flex-direction: column;
    height: 170px;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}
